<div class="container-fluid vh-100 d-flex justify-content-center align-items-center">
  <div class="card p-4 shadow-lg" style="width: 100%; max-width: 400px;">
    <h2 class="card-title text-center mb-4">Cafe Login Portal</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" formControlName="username"
          placeholder="Enter your username" />
        <div *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched" class="text-danger">
          Username is required.
        </div>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <div class="input-group">
          <input [type]="passwordFieldType" class="form-control" id="password" formControlName="password"
            placeholder="Enter your password" />
          <button type="button" class="btn btn-outline-secondary" (click)="togglePasswordVisibility()">
            <i [ngClass]="
                passwordFieldType === 'password'
                  ? 'fas fa-eye-slash'
                  : 'fas fa-eye'
              "></i>
          </button>
        </div>
        <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="text-danger">
          Password is required.
        </div>
      </div>
      <button type="submit" class="btn btn-custom btn-primary w-100" [disabled]="loginForm.invalid">
        Login
      </button>
      <div class="forgot-password mt-3 text-center">
        <a type="button" class="text-decoration-none" (click)="openModal()">Forgot Password?</a>
      </div>
      <div class="mb-3 text-center signup">
        <span> Don't Have an Account? </span><a routerLink="/signup" class="text-center">Sign Up</a>
      </div>
    </form>
  </div>
</div>

<div class="modal fade" id="forgotPasswordModal" tabindex="-1" role="dialog" aria-labelledby="forgotPasswordModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="forgotPasswordModalTitle">Forgot Password</h3>
      </div>
      <div class="modal-body">
        <form [formGroup] = "forgotPasswordForm" (ngSubmit)="onForgetPassword()">
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" formControlName="email"
                placeholder="john@example.com">
            <div *ngIf="forgotPasswordForm.get('email')?.errors && forgotPasswordForm.get('email')?.touched"
                class="text-danger">
                <div *ngIf="forgotPasswordForm.get('email')?.errors?.['required']"> Email is required</div>
                <div *ngIf="forgotPasswordForm.get('email')?.errors?.['email']"> Invalid email</div>
            </div>
        </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal()" data-dismiss="modal">Close</button>
        <button type="submit" [disabled]="forgotPasswordForm.invalid" (click)="onForgetPassword()"  class="btn btn-primary">Forgot Password</button>
      </div>
    </div>
  </div>
</div>
