.navbar {
    background-color: #0D6EFD; /* Blue background */
    border-bottom: 1px solid #ddd; /* Subtle border at the bottom */
  }
  
  .navbar-brand {
    font-weight: bold; /* Bold the brand */
    font-size: 1.25rem; /* Increase font size */
    color: #fefefe; /* Darker text color */
  }
  
  .nav-link {
    color: #fefefe; /* Darker text color */
  }
  
  .nav-link:hover {
    color: #fefefe; /* Link color on hover */
  }
  
  .navbar .dropdown-menu {
    border-radius: 0.25rem; /* Rounded corners for dropdown */
  }
  
  .navbar .dropdown-item:hover {
    background-color: #f8f9fa; /* Slight hover effect */
  }
  
  .navbar .fas {
    font-size: 1.2rem; /* Icon size */
  }
  